
/* Document-wide */

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    /* font-family: 'Kumbh Sans', sans-serif; */
}

h2 {
    margin: 0;
}

/* Footer */

.page-footer {
    height: 4rem;
    background: #B5C2B7;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100vw;*/
    margin-bottom: 0;
}

.page-footer p {
    margin-bottom: 0;
}

.footer-logo,
.page-footer a {
    color: #F06449
}


.footer-logo:hover,
.page-footer a:hover {
    transition: var(--transition);
    color: #c42d0d
}

/* General ; main */

/* .main {
    background-color: #141414;
} */

/* Navigation */

nav {
    display: flex;
    height: 5rem;
    background-color: #131313;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.first-nav {
    margin-left: 2rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.navbar-menu a{
    margin-right: 1rem;
    text-transform: uppercase;
    color:azure;
}

.first-nav {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #910b2d 0%, #8311ec 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-backdrop-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


/* Home page */

.home-page {
    background: #131313;
    height: 90vh;
}

.home-container {
    position: relative;
    height: 25rem;
    width: 65rem;
    margin:auto;
    padding-top: 2rem;
    background-image: url('./images/cinema.jpeg');
    align-items: center;
}

.home-image-greet {
    position: absolute;
    width: 100%;
    margin:auto;
    text-align: center;
    align-items: center;
    top: 50%;
}

.home-image-greet h2{
    text-transform: capitalize;
    text-decoration: wavy;
    font-weight: bold;
    color: azure;
    font-size: 3.25rem;
    text-shadow: 2px 2px #020101;

}

/* Catalog */

.movie-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.catalog-img {
    width: 50%;
    height: 10rem;
}


/* Create Form */

.form-wrapper {
    justify-content: center;
}

.create-movie-form input{
    display: block;
}

.create-movie-form textarea{
    display: block;
}
